<% layout("layouts/boilerplate") %>

<div class="container">
    <div id="map" class="mb-4" ></div>

  
    <ul>
        <% for (camp of camps){ %>
          
             <div class="card mb-5">
                <div class="row">
                    <div class="col-md-4 mb-5" class="image" >
                        <img class="img-fluid"src="<%=camp.image%>" alt="">
                    </div>
                    <div class="col-md-8">
                        <h5 class="card-title "><%= camp.title %></h5>
                        <p class="card-text"><%= camp.description %></p>
                        <p class="text-muted mb-3"><%= camp.location %></p>
                        <a href="/camps/<%=camp._id%>" class="btn btn-primary"><%= camp.title %></a>
                    </div>
                </div>
             </div>
        <% } %>
    </ul>

</div>
    <script>
       const mapKey ='<%-process.env.MAPTILER_API_KEY %>'
      const camps = {features:<%- JSON.stringify(camps) %>}
    
    </script>
    
<script src="/javascripts/clusterMap.js" ></script>
