
<% layout("layouts/boilerplate") %>

<link rel="stylesheet" href="/stylesheets/stars.css">
<div id="map" class="mb-5"></div>
<div class="row">
    <div class="col-6   mb-3">
        <div class="card">
            <h1></h1>
            <img src="<%=camp.image %>" class="card-img-top responsive-image" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=camp.title %></h5>
              <p class="card-text"><%=camp.description%></p>
              <p class="card-text text-muted"><%=camp.location%></p>
              <p class="card-text text-muted">submitted by <%=camp.authors[0].username%></p>
              <p class="card-text">$<%=camp.price%>/night</p>
             <% if(currentUser &&currentUser.equals(camp.authors[0])){ %>
                  <!-- <div id="buttons">
                    <a href="/camps/<%=camp._id %>/edit" class="btn btn-info">Edit</a>
                    <form action="/camps/<%=camp.id%>?_method=delete" method="post" class="d-inline">
                      <button class="btn btn-danger">Delete</button>
                  </div> -->
                  <div id="buttons">
                    <a href="/camps/<%=camp._id %>/edit" class="btn btn-info">Edit</a>
                    <form action="/camps/<%=camp.id%>?_method=delete" method="post" class="d-inline">
                      <button class="btn btn-danger">Delete</button>
                  </div>
             <% } %>
            </form>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
          
    </div>
    <div class="col-6">
      <h2 class="mb-3">Leave a review</h2>
          <form   action="/camps/<%=camp.id%>/review"  novalidate method="POST" class="mb-3 needs-validation">
            <div class="mb-3">
              <!-- <label class="form-label"for="rating" >Rating</label>
              <input class="form-range" type="range" name="review[rating]" min="1" max="5" id="rating"> -->
                            
              <fieldset class="starability-basic">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1"  />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>

              
            </div>
            <div class="mb-3">
              <label class="form-label" for="review">Review</label>
              <textarea class="form-control" name="review[body]" id="review" rows="3" cols="5" required></textarea>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
          </form>
          
          <% for (let review of camp.reviews ){%>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%=review.authors[0].username%></h5>
              <p class="starability-result" data-rating="<%=review.rating%>">
                Rated: <%=review.rating%> stars
              </p>
              <h5 class="card-title"><%=review.body%></h5>
              <form action="/camps/<%=camp.id%>/review/<%=review.id%>?_method=delete" method="post">
                <% if(currentUser &&currentUser.equals(review.authors[0])){%>
                <button class="btn btn-danger">Delete</button>
                <% } %>
              </form>
            
            </div>
          </div>
          <% } %>
    </div>
</div>


<script>
      const mapKey ='<%-process.env.MAPTILER_API_KEY %>'
      const camp = <%- JSON.stringify(camp) %>
      // const camp = JSON.parse(campString);

</script>


<script src="/javascripts/showPageMap.js"></script>

